@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px; }

h1 {
  font-size: 2em;
  font-weight: 900;
  margin-bottom: 1em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.1em;
  margin-bottom: .6em; }

p {
  font-size: 1.1em;
  margin-top: 1em; }

b {
  font-weight: 450; }

a {
  text-decoration: none;
  font-weight: 450;
  color: #157bc4; }
  a:hover, a:active {
    text-decoration: underline; }

ul, ol {
  margin-top: 1em;
  padding-left: 20px; }
  ul li, ol li {
    margin-bottom: .3em;
    font-size: 1.1em; }

.content {
  width: 890px;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px 0 40px 0; }

.content--700 {
  width: 700px; }

.box {
  padding: 10px; }

.about {
  position: relative; }
  .about .about__info {
    margin-right: 10px;
    width: 600px;
    max-width: 60%; }
    .about .about__info h2 {
      margin-top: .8em; }
  .about .about__card {
    position: absolute;
    top: 10px;
    right: 10px;
    vertical-align: top;
    width: 290px; }
    .about .about__card .profile-image {
      display: block;
      width: 290px;
      height: 290px;
      border-radius: 50%; }
    .about .about__card .social {
      text-align: center;
      list-style: none; }
      .about .about__card .social__link {
        display: inline-block;
        width: 60px;
        height: 60px;
        transition: opacity 0.6s;
        border-radius: 30px;
        margin: 12px 12px 0 0; }
        .about .about__card .social__link:nth-child(4), .about .about__card .social__link:last-child {
          margin: 12px 0 0; }
      .about .about__card .social a:hover {
        opacity: 0.5; }
    .about .about__card .linkedin {
      background: url("img/linkedin.svg") no-repeat; }
    .about .about__card .twitter {
      background: url("img/twitter.svg") no-repeat; }
    .about .about__card .github {
      background: url("img/github.svg") no-repeat; }
    .about .about__card .facebook {
      background: url("img/facebook.svg") no-repeat; }
    .about .about__card .mail {
      background: url("img/mail.svg") no-repeat; }
    .about .about__card .telegram {
      background: url("img/telegram.svg") no-repeat; }
    .about .about__card .instagram {
      background: url("img/instagram.svg") no-repeat; }
    .about .about__card .youtube {
      background: url("img/youtube.svg") no-repeat; }

.portfolio-box {
  margin-top: 16px;
  display: block;
  width: calc(100% + 10px);
  margin-right: -10px; }

.portfolio .mortage {
  display: inline-block;
  width: 283px;
  height: 142px;
  background: url("img/mortage.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  border-radius: 9px;
  transition: opacity 0.6s;
  max-width: 100%;
  margin-right: 10px;
  margin-bottom: 6px; }
  .portfolio .mortage:hover {
    opacity: 0.5; }

.portfolio .survey {
  display: inline-block;
  width: 283px;
  height: 142px;
  background: url("img/survey.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  border-radius: 9px;
  transition: opacity 0.6s;
  max-width: 100%;
  margin-right: 10px;
  margin-bottom: 6px; }
  .portfolio .survey:hover {
    opacity: 0.5; }

.portfolio .patients {
  display: inline-block;
  width: 283px;
  height: 142px;
  background: url("img/patients.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  border-radius: 9px;
  transition: opacity 0.6s;
  max-width: 100%;
  margin-right: 10px;
  margin-bottom: 6px; }
  .portfolio .patients:hover {
    opacity: 0.5; }

.blog .blog-box {
  margin-top: 16px;
  display: block;
  width: calc(100% + 10px);
  margin-right: -10px; }

.blog .blog__section {
  width: 283px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  margin-bottom: 6px; }
  .blog .blog__section ul {
    margin-top: 0;
    padding-left: 0;
    padding-right: 5px; }
    .blog .blog__section ul li {
      list-style: none;
      margin-bottom: 3px; }

.article {
  position: relative;
  padding: 30px 10px; }
  .article p, .article li {
    font-size: 18px;
    line-height: 1.4; }
  .article blockquote {
    font-style: italic;
    margin-left: 2px;
    margin-top: 17px;
    border-left: 3.5px solid lightgrey;
    padding-left: 15px; }
  .article .article__index-top {
    position: absolute;
    top: 10px;
    right: 10px; }
  .article .article__index-bottom {
    position: absolute;
    bottom: 30px;
    left: 10px; }
  .article .article__date {
    font-size: 12px;
    color: #696969;
    text-align: right; }
  .article .article__img {
    text-align: center;
    margin-top: 17px; }
    .article .article__img img {
      max-width: 100%; }

@media screen and (max-width: 800px) {
  .about .about__info {
    width: 50%; } }

@media screen and (max-width: 690px) {
  .about .about__info {
    width: 100%;
  max-width: 100%; }
  .about .about__card {
    display: block;
    position: static;
    margin: 0 auto; }
  .blog .blog__section ul li {
    margin: 14px 0; }
    .blog .blog__section ul li a {
      padding: 14px 0; } }
    
@media screen and (max-width: 600px) {.portfolio-box {text-align: center;}}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .content {
    display: block;
    width: 100%;
    max-width: 890px;
    margin: 0 auto; }
  .about .about__info {
    width: 60%;
    max-width: 600px; } }
