@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  width: 100%;
  margin: 0 auto; }

h1 {
  font-weight: 900;
  margin: 21px 0; }

h2 {
  margin-bottom: 0; }

h3 {
  margin: 19px 0 5px 0; }

p {
  font-size: 17px;
  margin-top: 17px; }

b {
  font-weight: 450; }

a {
  text-decoration: none;
  font-weight: 450;
  color: #157bc4; }
  a:hover, a:active {
    text-decoration: underline; }

ul, ol {
  margin-top: 16px;
  padding-left: 20px; }
  ul li, ol li {
    margin-bottom: 5px;
    font-size: 17px; }

.hidden {
  display: none; }

.content {
  display: block;
  width: clamp(300px, 100%, 890px);
  margin: 0 auto; }

.content-700 {
  display: block;
  width: clamp(320px, 100%, 700px);
  margin: 0 auto; }

.box {
  padding: 10px; }

header {
  position: relative;
  margin: 20px 0 10px; }

.about {
  position: relative; }
  .about .about__info {
    margin-right: 10px;
    width: clamp(300px, 60%, 600px); }
    .about .about__info h2 {
      margin-top: 20px; }
  .about .about__card {
    position: absolute;
    top: 10px;
    right: 10px;
    vertical-align: top;
    width: 290px; }
    .about .about__card .profile-image {
      display: block;
      width: 290px;
      border-radius: 50%; }
    .about .about__card .social {
      text-align: center;
      list-style: none; }
      .about .about__card .social a {
        display: inline-block;
        width: 60px;
        height: 60px;
        transition: opacity 0.6s;
        background-size: cover;
        border-radius: 30px;
        margin: 12px 12px 0 0; }
        .about .about__card .social a:nth-child(4), .about .about__card .social a:last-child {
          margin: 12px 0 0; }
      .about .about__card .social a:hover {
        opacity: 0.5; }
    .about .about__card .linkedin {
      background: url("img/linkedin.svg") no-repeat; }
    .about .about__card .twitter {
      background: url("img/twitter.svg") no-repeat; }
    .about .about__card .github {
      background: url("img/github.svg") no-repeat; }
    .about .about__card .facebook {
      background: url("img/facebook.svg") no-repeat; }
    .about .about__card .mail {
      background: url("img/mail.svg") no-repeat; }
    .about .about__card .telegram {
      background: url("img/telegram.svg") no-repeat; }
    .about .about__card .instagram {
      background: url("img/instagram.svg") no-repeat; }
    .about .about__card .youtube {
      background: url("img/youtube.svg") no-repeat; }

.blog .blog__section {
  width: 280px;
  display: inline-block;
  vertical-align: top;
  padding-right: 5px; }
  .blog .blog__section li {
    list-style: none;
    margin-bottom: 3px; }

.article {
  position: relative;
  padding: 30px 10px; }
  .article p, .article li {
    font-size: 18px;
    line-height: 1.4; }
  .article blockquote {
    font-style: italic;
    margin-left: 2px;
    margin-top: 17px;
    border-left: 3.5px solid lightgrey;
    padding-left: 15px; }
  .article .article__index-top {
    position: absolute;
    top: 10px;
    right: 10px; }
  .article .article__index-bottom {
    position: absolute;
    bottom: 30px;
    left: 10px; }
  .article .article__date {
    font-size: 12px;
    color: #696969;
    text-align: right; }
  .article .article__img {
    text-align: center;
    margin-top: 17px; }
    .article .article__img img {
      max-width: 100%; }

@media screen and (max-width: 800px) {
  .about .about__info {
    width: 50%; } }

@media screen and (max-width: 690px) {
  .about .about__info {
    width: 100%; }
  .about .about__card {
    display: block;
    position: static;
    margin: 0 auto; } }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .content {
    display: block;
    width: 100%;
    max-width: 890px;
    margin: 0 auto; }
  .about .about__info {
    width: 60%;
    max-width: 600px; } }
