@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  width: 100%;
  margin: 0 auto; }

h1 {
  font-weight: 900; }

.hidden {
  display: none; }

.content {
  display: block;
  width: 100%;
  max-width: 890px;
  margin: 0 auto;
  text-align: center; }

header {
  position: relative;
  font-size: 30px;
  width: 100%;
  margin: 20px 0 10px;
  text-align: left; }
  header a {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-left: 10px;
    text-decoration: none;
    color: #000000; }
  header .toggle {
    position: absolute;
    top: 9px;
    right: 10px;
    width: 40px;
    height: 24px;
    border: 1px solid darkgrey;
    border-radius: 24px;
    cursor: pointer; }
  header .toggle__switch {
    position: absolute;
    top: 2px;
    right: 14px;
    width: 18px;
    height: 18px;
    border-radius: 20px;
    border: 1px solid darkgrey;
    padding: 0 2px;
    font-size: 13px;
    font-weight: bold;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; }

.about {
  padding: 10px;
  text-align: justify; }
  .about:after {
    content: '';
    width: 100%;
    display: inline-block; }
  .about .about__info {
    display: inline-block;
    text-align: left;
    margin-right: 10px;
    width: 60%;
    max-width: 580px; }
    .about .about__info h1 {
      margin-top: 0; }
    .about .about__info p {
      font-size: 17px;
      margin-bottom: 0; }
    .about .about__info ul {
      padding-left: 20px; }
      .about .about__info ul li {
        font-size: 17px;
        margin-bottom: 5px; }
  .about .about__card {
    display: inline-block;
    vertical-align: top;
    width: 290px; }
    .about .about__card .profile-image {
      display: block;
      width: 290px;
      border-radius: 50%; }
    .about .about__card .social {
      margin: 0;
      padding: 0;
      text-align: center;
      list-style: none; }
      .about .about__card .social a {
        display: inline-block;
        width: 60px;
        height: 60px;
        transition: opacity 0.6s;
        background-size: cover;
        border-radius: 30px;
        margin: 12px 12px 0 0; }
        .about .about__card .social a:nth-child(4), .about .about__card .social a:last-child {
          margin: 12px 0 0; }
      .about .about__card .social .resume {
        background: url("/img/download.png") no-repeat;
        background-size: cover;
        border-radius: 30px;
        width: 140px; }
      .about .about__card .social a:hover {
        opacity: 0.5; }
  .about .facebook {
    background: url("/img/facebook.png") no-repeat; }
  .about .twitter {
    background: url("/img/twitter.png") no-repeat; }
  .about .github {
    background: url("/img/github.png") no-repeat; }
  .about .telegram {
    background: url("/img/telegram.png") no-repeat; }
  .about .mail {
    background: url("/img/mail.png") no-repeat; }
  .about .codepen {
    background: url("/img/codepen.png") no-repeat; }
  .about .instagram {
    background: url("/img/instagram.png") no-repeat; }
  .about .youtube {
    background: url("/img/youtube.png") no-repeat; }

.blog {
  text-align: left; }

@media screen and (max-width: 800px) {
  .about .about__info {
    width: 50%; } }

@media screen and (max-width: 690px) {
  header {
    text-align: center; }
    header a {
      margin: 0; }
    header .toggle {
      display: none;
      top: 70px;
      right: 15px; }
  .about .about__info {
    display: none; }
  .about:after {
    display: none; }
  .about .about__card {
    display: block;
    margin: 0 auto; } }
