@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

$lg: 1059px;
$sm: 640px;

\:root {
  --background: #ffffff;
  --text: #000000;
  --link: #157bc4;
  --summary: #dfdfdf;
  --opacity: rgba(223, 223, 223, 0.3);
}

.light {
  --background: #ffffff;
  --text: #000000;
  --link: #157bc4;
  --summary: #dfdfdf;
}

.dark {
  --background: #30363d;
  --text: #ffffff;
  --link: #d6983c;
  --summary: #505660;
}